@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Manrope:wght@500;700&family=Outfit&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: "Roboto", sans-serif;
    color: #2B6460;
    background-color: #B3C3C2;
}

main {
    margin: 2em auto 0 auto;
    width: 80%;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 2.3rem;
}

.titles{
    display: block;
    text-align: center;
    padding: 1em;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.recipe-list-container {
    margin: 0 auto;
}

ul.recipes {
    margin-top: 1em;
    display: grid; /* 1 */
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1rem; 
    
}

.no-tick {
    position: relative;
    height: 7em;
    list-style: none;
    background-color: #EFFBFA;
    border-radius: 10px;
    min-width: 21 em;
}

.li-container {
    
}

.preview {
    height: 100%;
    width: 60%;
    object-fit: cover;
    position: absolute;
    border-radius: 10px 0 0 10px;
    filter: grayscale(100%);
}


.no-tick a {
    width: 40%;
    position: absolute;
    right: -0.5rem;
    bottom: 1rem;
    text-decoration: none;
    color: #2B6460;
    padding-right: 0.5rem; /*needed this to make sure the text stayed inside the div when it got small */
}

/*styling for recipe pages*/

main.recipe-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #EFFBFA;
    border-radius: 10px;
    padding: 1em;
}

.one-col{
    grid-column-start: 1;
    grid-column-end: 3;
}

h1.recipe-page{
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    padding: 0.5em 1em 0.2em 1em;
}

.description-container p, .one-col li {
    padding-left: 1em;
    line-height: 1.3rem;
    font-size: 0.9rem;
}

ul.one-col, ol.one-col {
    padding-left: 0;
}

ul.one-col li, ol.one-col li {
    list-style-position: inside;
 }

 .recipe-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position:  5% 5%;
 }

 .image-container p {
    font-size: 12px;
 }

 /* some imag positions needed their own adjustments */
 .recipe-img.baked {
    object-position: 30% 30%;
 }

